chardet
click
cryptography
distlib
flask_cors
et-xmlfile
filelock
Flask
Flask-Cors
idna
importlib-metadata
isodate
itsdangerous
jdcal
Jinja2
MarkupSafe
msrest
mysql-connector-python
oauthlib
progress
protobuf
pycparser
PySocks
python-dateutil
pytz
requests
requests-oauthlib
six
urllib3
Werkzeug
pymysql
pandas
joblib
scipy
numpy
scikit-learn==0.24.2
sklearn